.markIt__icon--red {
  cursor: pointer;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  z-index: 99999;
}

.markIt__icon--red:hover {
  background: url('../assets/square-red.png') no-repeat;
}

.markIt__icon--green {
  cursor: pointer;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  z-index: 99999;
}

.markIt__icon--green:hover {
  background: url('../assets/square-green.png') no-repeat;
}
