.signIn__form {
  padding: 10px;
}

.signIn__errors {
  border: 1px solid #ffcccc;
  background-color: #ffe7e7;
  color: red;
  padding: 10px;
}

.signIn__form h2 {
  font-size: 16px;
  text-align: center;
}

.signIn__formGroup {
  text-align: right;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.signIn__formGroup {
  margin-top: 15px;
}

.signIn__formGroup label {
  margin-right: 5px;
}